.filterPannel {
margin: auto;
}

.filterHeader {
text-align: center;
margin-top: 1px;
font-size: 24px;
}

.labelText {
font-size: 18px;
}

.buttonFilter {
background-color: rgb(231, 217, 175);
border-radius: 5px;
padding: 5px;
font-size: 14px;
}

.inputSelect {
margin: 0 15px 0 5px;
padding: 3px;
}

.inputFilter {
margin: 0 15px 0 5px;
padding: 3px;
}

/*Mobile*/

  @media screen and (max-width: 1070px) {
    .filtersWrapper {
      flex-direction: column;
    }
    
    .inputFilter,
    .inputSelect,
    .labelText {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 600px) {
    .labelText {
        font-size: 14px;
        }
    
    .buttonFilter {
     font-size: 12px;
     margin-top: 3px;
  }
    .inputFilter,
    .inputSelect,
    .labelText {
      margin-bottom: 3px;
    }
} 
